:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  flex-shrink: 0;
  height: 100%;
}

#app {
  width: 100%;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* 隐藏所有滚动条 */
::-webkit-scrollbar {
  display: none;
}

/* elment-plus css*/

/* el-button 通用配置*/
.el-button .el-icon {
  margin-right: 4px;
  vertical-align: middle;
}

.el-button--primary {
  --el-button-bg-color: #1a1f36;
  --el-button-border-color: #1a1f36;
  --el-button-hover-bg-color: #2d3748;
  --el-button-hover-border-color: #2d3748;
}

/* el-card通用配置圆角 */
.el-card {
  flex-shrink: 0;
  border-radius: 10px;
}

/* 分页器通用配置*/
.el-pagination {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background-color: white;
  border-top: 1px solid #f0f0f0;
  z-index: 10;
}

.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
  background-color: #1a1f36 !important;
}

/* 表单通用配置*/
.el-dialog{
  width: 30%;
  padding: 20px;
  border-radius: 10px;
}
.el-form-item__label {
  font-weight: 500;
}
.el-dialog__header{
  display: flex;
  flex: 1;
  flex-direction: row;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

.el-dialog__body {
  padding: 20px 30px;
}


.el-dialog__body .el-input, .el-input-number{
  width: 100%;
}

.el-dialog__footer > span{
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  border-top: 1px solid #e0e0e0;
  width: 100%;
  gap: 20px;
  padding: 10px;
}

/* el-drawer通用配置*/
.el-drawer__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.el-drawer__header{
  position: relative;
  display: flex;
  background: #51566c;
  height: 64px;
  flex-shrink: 0;
  align-items: center;
  padding: 20px;
}

.el-drawer__header .el-drawer__title{
  display: inline-flex;
  margin-left: 20px;
  color: #fff;
  font-size: 20px;
}


